body {
  margin: 0;
  padding: 0;
  max-width: inherit;
  background: #fff;
  color: #4a4a4a;

}

header, footer {
  font-size: large;
  text-align: center;
  padding: 0.3em 0;
  background-color: #4a4a4a;
  color: #f9f9f9;
}

nav {  background: #eee; }

main {  background: #f9f9f9; }

aside {  background: #eee; }

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: min-content 1fr min-content;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
}

nav {
  grid-row: 2;
  grid-column: 1 / 2;
  padding: 0 10px;
}

main {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 0 20px;

}

aside {
  grid-row: 2;
  grid-column: 3 / 4;
  padding: 0 10px;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}


.row {
  text-align:center;
    margin:0 auto;
}

/* Create two equal columns that sits next to each other */
.column {
  display:inline-block;
   vertical-align: middle;
   float: none;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:  200px;
  height: 200px;
  justify-content: center;
  border: 7px solid black;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button:hover {
  background-color: #555555;
  color: white;
}
