header{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.background{
	background: url('../images/leaves.jpg')no-repeat center fixed;
    background-size: cover;
}

.graphics_container
{
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: auto auto;
}

.flex_container {
	background-image: url('../images/scroll.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 10%;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 20px;
	font-size: 30px;
	padding: 50px;

}


.ask_user {
	font-size: 30px;
	font-family: helvetica;
	text-align: center;
}

.choice1 {
	float: left;
	background-color: #008CBA;
	color: white;
	text-align: center;
	position: relative;
	width: 400px;
	margin: auto;
	border: 2px solid;
	padding: 5px;
	flex-shrink:1;
}

.choice2 {
	float: right;
	background-color: #008CBA;;
	color: white;
	text-align: center;
	position: relative;
	width: 400px;
	margin: auto;
	border: 2px solid;
	padding: 5px;
	flex-shrink:1;
}

.play_button {  
	background-color: black;  
	color: white;
	border-radius: 10px;
	font-size:50px; 
	align-content: flex-end;
	margin-bottom: 10px;
} 

.play_button:hover {
	background-color: darkblue;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*
#user_name{
	border: 5px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition:.3s;
}

#user_name:focus{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}
*/
.nation_flexbox {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 700px;
	background-image: url('../images/scroll.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.nation {
	position: relative;
	width: 330px;
	margin: auto;
	border: 2px solid;
	padding: 5px;
	flex-shrink:1;	
	}

.nation_description{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-family: optima;
	text-align: center;
	opacity: 0;
	transition: opacity 1s;
}

.nation_description:hover{
	opacity: 1;
}

#technique{
	font-size: 30px;
	color: red;
}
